<!Doctype html>
<html>

<head>
<script src="mc-sonic.min.js"></script>

<!-- add a script to get a sonic component in a head tag -->
<script>
function playSonic() {
    <!-- create a variable for declared mc-sonic -->
    let mc_component = document.getElementById("mc-sonic")

    <!-- add sonicCompletion event to listen completion of Mastercard Checkout Sound and Animation -->
    document.addEventListener('sonicCompletion', onCompletion)

    <!-- play -->
    mc_component.play()
}

function onCompletion() {
    // do your stuff
}
</script>
</head>
<!-- add playSonic function in onLoad of body-->
<body onload="playSonic()">
<!-- add clear-background property to remove default background of component -->
 <mc-sonic id="mc-sonic"  clear-background></mc-sonic> 


</body>

</html>
